from __future__ import annotations

import datetime
from typing import Annotated, Any, Dict, List, Optional, Union

import msgspec

from {{ dot_prefix }}base import AS2Model

{% for mixin in mixins | default([], true) %}
from {{ dot_prefix }}mixins.{{ mixin | mixin_to_file }} import {{ mixin }}
{% endfor %}

{% for imp in external_imports | default([], true) %}
from {{ imp.path }} import {{ imp.name }}
{% endfor %}

{% for class_name, config in classes.items() %}
class {{ class_name }}({% for m in config.mixins | default([], true) %}{{ m }}, {% endfor %}{{ config.extends or 'AS2Model' }}, tag="{% if "type" not in config.properties %}{{ class_name }}{% endif %}"):
    """
    {{ config.description | default(class_name) }}
    """

    {% for prop_name, prop_conf in config.properties.items() %}
    {% set python_name = prop_name | to_snake %}
    {% set json_name = prop_conf.alias or prop_name %}
    {% set default_val = 'None' %}
    {% if prop_name == 'type' %}{% set default_val = '"' + class_name + '"' %}{% endif %}
    {% if not prop_conf.decode and not prop_conf.encode %}
    {{ python_name }}: Annotated[{{ prop_conf.type | to_python_type }}, msgspec.field()] = {{ default_val }}
    {% else %}
    _{{ python_name }}: Annotated[{{ prop_conf.type | to_python_type }}, msgspec.field()] = {{ default_val }}
    {% endif %}
    {% endfor %}

    {% for prop_name, prop_conf in config.properties.items() %}
    {% set python_name = prop_name | to_snake %}
    {% if prop_conf.decode or prop_conf.encode %}
    @property
    def {{ python_name }}(self) -> {{ prop_conf.type | to_python_type }}:
        val = self._{{ python_name }}
        {% if prop_conf.decode %}
{% set fixed_decode = prop_conf.decode | replace('Object(', 'Object.from_dict(') | replace('Note(', 'Note.from_dict(') | replace('Actor(', 'Actor.from_dict(') %}
{{ fixed_decode | indent(8, first=True) }}
        {% else %}
        return val
        {% endif %}

    @{{ python_name }}.setter
    def {{ python_name }}(self, val: {{ prop_conf.type | to_python_type }}):
        {% if prop_conf.encode %}
{{ prop_conf.encode | indent(8, first=True) }}
                self._{{ python_name }} = prepared
        {% else %}
        self._{{ python_name }} = val
        {% endif %}
    {% endif %}
    {% endfor %}

{% endfor %}
