from __future__ import annotations

from typing import TYPE_CHECKING, Annotated, Any, Dict, List, Optional, Union, Literal
from pydantic import Field, ConfigDict, TypeAdapter
from apmodel.base import AS2Model
from apmodel.wrapper import WrapAS2

{% for mixin in mixins | default([], true) %}
from apmodel.mixins.{{ mixin | mixin_to_file }} import {{ mixin }}
{% endfor %}
{% for imp in external_imports | default([], true) %}
from {{ imp.path }} import {{ imp.name }}
{% endfor %}

if TYPE_CHECKING:
    from apmodel.base import ZDateTime as datetime

{% for class_name, config in classes.items() %}
class {{ class_name }}({% for m in config.mixins | default([], true) %}{{ m }}, {% endfor %}{{ config.extends or 'AS2Model' }}):
    """{{ config.description | default(class_name) | replace("\n", " ") }}"""
    
    {% if config.isCoreType is not sameas true %}
    type: Literal["{{ class_name }}"] = "{{ class_name }}"
    {% endif %}

    
    {% if config.properties %}
    {% for prop_name, prop_conf in config.properties.items() %}
    {%- set python_name = prop_name | to_snake -%}
    {%- set field_args = ["kw_only=True"] -%}
    {%- if prop_conf.alias %}{% do field_args.append("alias='" ~ prop_conf.alias ~ "'") %}{% endif -%}
    {%- if prop_conf.default is defined %}{% do field_args.append("default=" ~ prop_conf.default) -%}
    {%- elif prop_conf.default_factory %}{% do field_args.append("default_factory=" ~ prop_conf.default_factory) -%}
    {%- else %}{% do field_args.append("default=None") %}{% endif -%}
    
    {% if not prop_conf.decode and not prop_conf.encode -%}
    {{ python_name }}: Annotated[{{ prop_conf.type | to_python_type }}, Field({{ field_args | join(", ") }})]
    {%- else -%}
    _{{ python_name }}: Annotated[{{ prop_conf.type | to_python_type }}, Field({{ field_args | join(", ") }})]
    {%- endif %}
    {% endfor %}
    {% endif %}
{% endfor %}

