from __future__ import annotations

import datetime
from typing import Annotated, Any, Dict, List, Optional, Union, Literal

from pydantic import Field, TypeAdapter
from {{ dot_prefix }}base import AS2Model

{% for mixin in mixins | default([], true) %}
from {{ dot_prefix }}mixins.{{ mixin | mixin_to_file }} import {{ mixin }}
{% endfor %}

{% for imp in external_imports | default([], true) %}
from {{ imp.path }} import {{ imp.name }}
{% endfor %}


{% for class_name, config in classes.items() %}
class {{ class_name }}({% for m in config.mixins | default([], true) %}{{ m }}, {% endfor %}{{ config.extends or 'AS2Model' }}):
    """
    {{ config.description | default(class_name) }}
    """

    {% if config.extends and not config.isCoreType %}type: Literal["{{ class_name }}"] = "{{ class_name }}"{% endif %}

{% if config.properties %}
{% for prop_name, prop_conf in config.properties.items() %}
{% set python_name = prop_name | to_snake %}
{% set json_name = prop_conf.alias or prop_name %}
{% set default_val = 'None' %}
{% if prop_name == 'type' %}{% set default_val = '"' + class_name + '"' %}{% endif %}
{% if not prop_conf.decode and not prop_conf.encode %}
    {{ python_name }}: {{ prop_conf.type | to_python_type }} = Field(default={{ default_val }}, kw_only=True)
{% else %}
_{{ python_name }}: {{ prop_conf.type | to_python_type }} = Field(default={{ default_val }}, kw_only=True)
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

{% for class_name, config in classes.items() %}
{{ class_name | lower }}_adapter = TypeAdapter({{ class_name }})
{% endfor %}